$spacing: 1rem;
.app {
    color: #fff;
    z-index: 100;
    position: relative;
    width: 100%;
    margin: 0px auto;
    padding: 120px 0px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.section {
    min-height: 100vh;
    position: relative;
    grid-column: 1 / 8;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    margin-bottom: $spacing;
    gap: 10px;
    display: flex;
    flex-direction: column;
    &:first-child {
        grid-column: 1 / 12;
        min-height: fit-content;
    }
}
.header {
    background-color: #000;
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: $spacing;
}
.image {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
}
